<div class="face-snap-card">
    <h2>{{ faceSnap.title | uppercase }}</h2>
    <img [src]="faceSnap.imageUrl" [alt]="faceSnap.title">
    <p>Mis en ligne le {{ faceSnap.createdDate | date: 'à HH:mm, le dd MMMM yyyy' }}</p>
    <p>{{ faceSnap.description }}</p>
    <p>
    <button (click)="onSnap()">Oh Snap!</button>
    <span [ngClass]="{ 'snapped': snapped }">🤌 {{ snaps }}</span>
    </p>
    <p *ngIf="faceSnap.location">Photo prise à {{ faceSnap.location }}</p>
</div>